* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

li, a {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

body {
    background-image: url(images/Object.png);
    background-repeat: no-repeat;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.web-title-c {
  text-align: center;
}

.web-title {
    font-family: Arial;
    font-size: 120px;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.web-details {
    font-size: 12px;
    text-align: center;
    margin-right: 30px;
    color: white;
}

.web-btn-c {
    text-align: center;
}

.web-btn {
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(194, 113, 255);
    margin-top: 30px;
}


.pro-c {
    margin: 60px auto;
    justify-content: center;
    display: flex;
}

.pro-details h2 {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.pro-details-span {
    color: rgb(194, 113, 255);
}

.pro {
    display: inline-block;
    width: 300px;
    text-align: center;
    color: white;
}

.pro h3 {
    display: block;
}

.pro p {
    display: block;
    font-size: 12px;
}

.pro-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.tutorials {
    display: flex;
    justify-content: center;
    background-color: rgb(194, 113, 255);
    padding: 80px;
    color: white;
    vertical-align: top;
    margin-top: 50px;
}

.t-img{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.tutorials-des {
    display: inline-block;
    font-size: 20px;

}

.tutorials-des h3 {
    margin-top: 30px;
}

.t-videos {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.vid-h{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.t-videos p {
    display: block;
}

.vid {
    width: 200px;
    display: inline-block;
    margin-right: 35px;
}

.vid-img {
    width: 200px;
    height: 20opx;
}

.vid-thumnails {
    width: 20px;
    height: 20px;
}

.fa-solid {
    display: inline-block;
    color: rgb(194, 113, 255);
    font-size: 10px;
    margin-top: 0px;
}

.vid h4 {
    display: inline-block;
    vertical-align: top;
}

.vt {
    display: inline-block;
    vertical-align: top;
}
.vid-t {
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 30px;
    color: rgb(194, 113, 255);
}

.vid-name  h4 {
    color: rgb(194, 113, 255);
    font-size: 12px;
    margin-left: 12px;
    margin-top: 1px;
    
}

.vid-th {
    position: relative;
}

.vid-d {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vid h3 {
    font-size: 13px;
    margin-top: 10px;
}

.play   {
    position: absolute;
    width: 40px;
    bottom: 20px;
    left: 40px;

    
}

.mem {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
   
}

.mem h2 {
    font-size: 30px;
}

.mem-info  {
    display: inline-block;
    width: 300px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px
}

.mem-info h3 {
    font-size: 17px;
    margin: 12px;
}

.qus {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin: 50px 100px;
    
}

.qc {
    text-align: center;
}

.qc h2 {
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: lighter;
}

.qus h3 {
    margin-bottom: 30px;
}

.qn {
    margin-bottom: 60px;

}

footer {
    padding: 50px 10%;
    background-color: black;
}

.ft {
    display: inline-block;
    justify-content: end;
    align-items: center;
    color: white;
    vertical-align: top;
    margin-left: 700px;
}


.ft i {
     margin-right: 10px;
     font-size: 20px;
     margin-left: 10px;
     margin-bottom: 20px;
}

.tf p {
    font-size: 20px;
    display: inline-block;
}

footer img {
    justify-content: flex-start;
    
}
