* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

li, a {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

body {
    background-image: url(images/Object.png);
    background-repeat: no-repeat;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.web-title-c {
  text-align: center;
}

.web-title {
    font-family: Arial;
    font-size: 120px;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.web-details {
    font-size: 12px;
    text-align: center;
    margin-right: 30px;
    color: white;
}

.web-btn-c {
    text-align: center;
}

.web-btn {
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(111, 29, 150);
    margin-top: 30px;
}


.pro-c {
    margin: 60px auto;
    justify-content: center;
    display: flex;
}

.pro-details h2 {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.pro-details-span {
    color: rgb(111, 29, 150);
}

.pro {
    display: inline-block;
    width: 300px;
    text-align: center;
    color: white;
}

.pro h3 {
    display: block;
}

.pro p {
    display: block;
    font-size: 12px;
}

.pro-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}