body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header, 
footer {
    padding: 20px;
    background: #f2f2f2;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  padding: 20px;
  background: #ffffff;
}

aside {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #fafafa;
}